body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

p {
  padding: 0;
  margin: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 95vh;
  background-color: #e5ff00;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.title p {
  font-size: 2rem;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hours,
.min {
  font-size: 8rem;
  text-shadow: 3px 3px blue, 6px 6px red;
  line-height: 200px;
}

hr {
  width: 60%;
}

.magic {
  display: none;
}

.sec {
  font-size: 1.5rem;
  transform: rotate(180deg);
}

.date {
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 1.4rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  height: 5vh;
  background-color: #e5ff00;
}

i {
  font-size: 1.4rem;
  color: black;
}

@media (max-height: 450px) and (orientation: landscape) {
  .frame {
    background-color: white;
  }

  .time {
    font-size: 6rem;
    flex-direction: row;
  }

  .magic {
    display: block;
    font-size: 6rem;
  }
}

@media (min-width: 450px) {
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .frame {
    justify-content: center;
    align-items: center;
    margin: 0px 0px 5vh 0px;
    height: 60vh;
    width: 90vw;
    box-shadow: 20px 20px black;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    background-color: #5eff00;
  }

  .time,
  .date {
    width: 50vw;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .magic {
    display: block;
  }

  .magicSmall {
    display: none;
  }

  hr {
    display: none;
  }

  .footer {
    align-items: center;
    height: 5vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
}
